<div class="row">

  <!-- Filters -->
     <div class="col-lg-3 grid-margin stretch-card">
        <div class="card">
    <div class="card-body">
      <h2 class="card-title">Filter Orders</h2>
  <form (ngSubmit)="getOrders()" class="filters" style="display: flex; flex-wrap: wrap; gap: 10px; align-items: flex-end;">
    <mat-form-field appearance="fill" style="flex: 1 1 200px;">
      <mat-label>Governorate</mat-label>  
      <mat-select
    name="governorate"
    [(ngModel)]="filters.governorate"
    (selectionChange)="onGovernorateChange($event.value)">
    <mat-option
      *ngFor="let Governorate of Governorates"      
      [disabled]="!Governorate.is_active_shipping"
      [value]="Governorate.id">
         <span
      >
      {{ Governorate.governorate_name_ar }}
      </span>
    </mat-option>
  </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1 1 200px;">
      <mat-label>City</mat-label>
        <mat-select [(ngModel)]="filters.city" name="city" >
    <mat-option *ngFor="let city of Cities" [value]="city.id"
      [disabled]="!city.is_active_shipping">
      {{ city.city_name_ar }}
    </mat-option>
  </mat-select>

    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1 1 200px;">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="filters.status" name="status">
        <mat-option value="">All</mat-option>
        <mat-option value="pending_confirmation">pending confirmation</mat-option>
        <mat-option value="being_confirmed">Being confirmed</mat-option>
        <mat-option value="confirmed">Confirmed</mat-option>
        <mat-option value="not_confirmed">Not Confirmed</mat-option>
        <mat-option value="packing">Packing</mat-option>
        <mat-option value="shipped_to_carrier">Shipped to Carrier</mat-option>
        <mat-option value="out_for_delivery">Out for Delivery</mat-option>
        <mat-option value="delivered">Delivered</mat-option>
        <mat-option value="cancelled">Cancelled</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1 1 200px;">
      <mat-label>Order ID</mat-label>
      <input matInput type="number" [(ngModel)]="filters.order_id" name="order_id">
    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1 1 200px;">
      <mat-label>Customer ID</mat-label>
      <input matInput type="number" [(ngModel)]="filters.customer_id" name="customer_id">
    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1 1 200px;">
      <mat-label>From</mat-label>
      <input matInput type="date" [(ngModel)]="filters.from" name="from">
    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1 1 200px;">
      <mat-label>To</mat-label>
      <input matInput type="date" [(ngModel)]="filters.to" name="to">
    </mat-form-field>

    <div style="display: flex; gap: 10px; margin-left: auto;">
      <button mat-raised-button color="primary" type="submit">Search</button>
      <button mat-stroked-button color="warn" type="button" (click)="resetFilters()">Reset</button>
    </div>
  </form>
</div>
</div>
</div>


  <div class="col-xl-9 grid-margin stretch-card" >

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">All Orders</h2>
      
      
      <!-- Loading Spinner -->
  <div *ngIf="loading" style="text-align:center; margin: 20px 0;">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div class="table-responsive" *ngIf="!loading && orders.length">
<!-- Orders Table -->
  <table mat-table [dataSource]="orders" class="mat-elevation-z8 orders-table table table-hover" >
 
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let order"> {{ order.order_id }} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let order">
      <span class="status" [ngClass]="order.status.toLowerCase()">{{ order.status }}</span>
    </td>
  </ng-container>

    <!-- Customer Name -->
  <ng-container matColumnDef="customer_name">
    <th mat-header-cell *matHeaderCellDef> Customer </th>
    <td mat-cell *matCellDef="let order"> {{ order.customer_name || '-' }} </td>
  </ng-container>

    <!-- Order ID Column -->
  <ng-container matColumnDef="Phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let order"> {{ order.Phone }} </td>
  </ng-container>

  <!-- Order Date Column -->
  <ng-container matColumnDef="Governorate">
    <th mat-header-cell *matHeaderCellDef> Governorate </th>
    <td mat-cell *matCellDef="let order"> {{ order.address.governorate.governorate_name_ar }} </td>
  </ng-container>



  <!-- Address -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let order"> {{ order.address.city.city_name_ar }} </td>
  </ng-container>

  <!-- Total Items -->
  <ng-container matColumnDef="total_items">
    <th mat-header-cell *matHeaderCellDef> Total Items </th>
    <td mat-cell *matCellDef="let order"> {{ order.total_items }} </td>
  </ng-container>

  <!-- Created At -->
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef> Created At </th>
    <td mat-cell *matCellDef="let order"> {{ order.created_at | date:'short' }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Clickable Row -->
  <tr 
    mat-row 
    *matRowDef="let row; columns: displayedColumns;" 
    class="clickable-row"
    [routerLink]="['/orders/edit', row.order_id]">
  </tr>

</table>
  <mat-paginator class="mat-elevation-z8 mat-paginator"
  [length]="total"
  [pageSize]="perPage"
  [pageIndex]="currentPage - 1"
  [pageSizeOptions]="[5, 10, 20, 50]"
  showFirstLastButtons
  (page)="changePage($event)">
</mat-paginator>


  <!-- No Data -->
  <div class="no-data" *ngIf="!loading && orders.length === 0" style="text-align:center; margin-top:20px;">
    No orders found.
  </div>
</div>
  </div>
  </div>
</div>
